@charset "UTF-8";

html,
body {
  margin: 0;
  padding: 0;
}

.section {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 30px;

/*
---
name: Heading
category:
  - mod/heading
  - base
tag:
  - latest
  - base
---

Heading styles.

* Base Heading style.
* Use `h` tag.

```html
<h1>Heading</h1>
```
*/
  h1 {
    font-family: 'Raleway', sans-serif;
    margin: 15px 0;
  }
}

.carousel-wrapper {
  padding-top: 66.94%;
  position: relative;
  overflow: hidden;

  h1 {
    font-family: 'Raleway', sans-serif;
  }
}

.carousel-inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  &.animate-prev {
    transform: translateX(100%);
    transition-duration: .4s;
  }

  &.animate-next {
    transform: translateX(-100%);
    transition-duration: .4s;
  }
}

.carousel-item {
  img {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }

  &.carousel-item--current {
    transform: translateX(0);
  }

  &.carousel-item--prev {
    transform: translateX(-100%);
  }

  &.carousel-item--next {
    transform: translateX(100%);
  }
}

.carousel-pager {
  width: 192px;
  height: 15px;
  margin: 15px auto;
  overflow: hidden;
  z-index: 1;
}

.pager-wrapper {
  width: 100%;
  position: relative;
  z-index: 1;
}

.pager-inner {
  margin: 0 auto;
  padding: 0;
  font-size: 0;
  text-align: center;
  list-style-type: none;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

/*
---
name: Pager
category:
  - mod/pager
  - base
tag:
  - latest
  - base
---

Pager styles.

* Base Pager style.
* Use `pager-item` class.

```html
<ul class="pager-inner">
  <li class="pager-item">
    <div class="pager-indicator is-active"></div>
  </li>
  <li class="pager-item">
    <div class="pager-indicator"></div>
  </li>
  <li class="pager-item">
    <div class="pager-indicator"></div>
  </li>
</ul>
```
*/
.pager-item {
  width: 12px;
  height: 15px;
  position: relative;
  display: inline-block;
  margin: 0 10px;
  transition: transform .5s ease;
  .pager-indicator {
    width: 12px;
    height: 12px;
    display: block;
    border-radius: 50%;
    background-color: #dedede;
    transform-origin: center;
    transition: transform .1s linear;
    cursor: pointer;
    font-size: 0px;
    text-indent: -999px;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #65baf9;
      transform: scale(0);
      transform-origin: center;
      transition: transform 0s linear;
    }

    &.is-active {
      &::after {
        transform: scale(1);
        transition: transform .3s linear .05s;
      }
    }

    &.is-small {
      transform: scale(0.8);
    }

    &.is-small--last {
      transform: scale(0.6);
    }
  }

}